.wrapper {
   padding-left: 20px;
   padding-right: 20px;
   max-width: 1200px;
      /* large screens will set the width of content at 1200px */

   margin-left: auto;
   margin-right: auto;
      /* centers the content */

   &--medium {
      max-width: 975px;
   }

   .wrapper {
      padding-left: 0;
      padding-right: 0;
   }
}